<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/output.css" rel="stylesheet">
</head>

<body>
    <div class="login flex items-center justify-center min-h-screen">
        
        <div class="login flex items-center justify-center  grid grid-cols-1" >
            <h1 class="text-2xl font-bold"> Login</h1>
            <div class="block max-w-md p-6 bg-white
            border border-gray-200 rounded-lg shadow-sm">

                <form class="grid grid-cols-2 m-5" method="post" action="/login">
                    {{ form.csrf_token }}
                    <input class="p-3 border border-gray-200"  type="text" name="username" placeholder="Username" required="required" />
                    <input class="p-3 border border-gray-200" type="password" name="password" placeholder="Password" required="required" />
                    <button class="p-3 hover:bg-gray-100  border border-gray-200" type="submit" class="btn btn-primary btn-block btn-large">Login</button>
                </form>
            </div>
        </div>
    </div>

</html>